@import "coreVariables";

.chartCol {
  display: inline-block;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.detail__link {
  position: absolute;
  right: 0;
  top: 0;
  color: $color-river;
  cursor: pointer;
}

.block__title {
  color: $color-boulder;
  font-weight: bold;
}

.block__number {
  font-size: 3rem;
  color: $color-midnight;
  font-weight: lighter;
}

.compare__prefix {
  color: $color-boulder;
}

.compare__number {
  color: $color-wasabi;
}

.compare_neg_number {
  color: $color-rouge;
}
