.round-plan {
  width: 100%;
  min-height: 400px;
  background-color: rgba(64, 64, 64, 1.00);
  -webkit-font-smoothing: antialiased;
  @media only screen and (max-width: $win-screen-md - 1){
    padding: 60px 0px;
  }

  .container-med {
    overflow: visible;
    @media only screen and (max-width: $win-screen-md - 1){
      margin-bottom: 30px;
    }


    @media only screen and (max-width: $win-screen-md - 1){
      margin-bottom: -20px;
    }
    @media only screen and (max-width: 400px){
      margin-bottom: -80px;
    }
  }

  &__title {
    position: absolute;
    z-index: $z-index-upper;
    @media only screen and (min-width: $win-screen-md){
      padding-top: 60px;
    }

    @media only screen and (max-width: $win-screen-md - 1){
      position: relative;
      text-align: center;
    }

    &__logo {
      margin-bottom:5px;
    }
    &__text {
      font-size: $font-s-28;
      line-height: $font-s-38;
    }
  }

  &__box {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    // overflow: hidden;
    @media only screen and (max-width: $win-screen-md - 1){
      overflow: hidden;
    }
  }

  &__canvas {

  }

  &__container {
    opacity: 0;
    transition: opacity 1s;
    display: inline-block;

    &--fadein {
      opacity: 1;
    }
  }

  &__plan {
    position: absolute;
    width: 540px;
    top: 0;
    display: inline-block;
    pointer-events: none;
    @media only screen and (max-width: $win-screen-md - 1){
      width: 675px;
      height: 640px;
    }

    .active {
      color: #000;
      font-weight: 800;
      font-size: 16px;
      @media only screen and (min-width: $win-screen-md){
        // font-size: 20px;
      }

      .lang-en & {
        font-weight: 900;
      }
    }
  }

  &__plan-text {
    position: absolute;
    color: $color-white;
    font-weight: 400;
    line-height: 20px;
    transition: all 0.2s;
    @media only screen and (min-width: $win-screen-md){
      // letter-spacing: 1px;
      // font-size: 19px;
      // font-weight: 500;
    }

    .lang-en & {
      font-weight: 800;
      font-size: 13px;
      @media only screen and (max-width: $win-screen-md - 1){
        font-size: 12px;
      }
    }

    &--position-1 {
      top: 265px;
      left: 430px;
      &.active {
        top: 262px;
        left: 437px;
      }

      @media only screen and (max-width: $win-screen-md - 1){
        top: 225px + 45;
        left: 340px + 62;
        &.active {
          top: 222px + 45;
          left: 345px + 62;
        }
      }
    }
    &--position-2 {
      top: 410px;
      left: 379px;
      &.active {
        top: 420px;
        left: 390px;
      }
      @media only screen and (max-width: $win-screen-md - 1){
        top: 335px + 45;
        left: 297px + 62;
        &.active {
          top: 340px + 45;
          left: 305px + 62;
        }
      }

      .lang-en & {
        top: 410px;
        left: 397px;
        &.active {
          top: 420px;
          left: 408px;
        }
        @media only screen and (max-width: $win-screen-md - 1){
          top: 385px;
          left: 384px;
          &.active {
            top: 395px;
            left: 390px;
          }
        }
      }


    }
    &--position-3 {
      top: 415px;
      left: 235px;
      &.active {
        top: 425px;
        left: 222px;
      }
      @media only screen and (max-width: $win-screen-md - 1){
        top: 335px + 45;
        left: 185px + 62;
        &.active {
          top: 345px + 45;
          left: 172px + 62;
        }
      }

      .lang-en & {
        top: 415px;
        left: 215px;
        &.active {
          top: 425px;
          left: 212px;
        }
        @media only screen and (max-width: $win-screen-md - 1){
          top: 393px;
          left: 235px;
          &.active {
            top: 400px;
            left: 230px;
          }
        }
      }


    }
    &--position-4 {
      top: 265px;
      left: 168px;
      &.active {
        top: 258px;
        left: 156px;
      }
      @media only screen and (max-width: $win-screen-md - 1){
        top: 225px + 45;
        left: 130px + 62;
        &.active {
          top: 218px + 45;
          left: 126px + 62;
        }
      }

      .lang-en & {
        top: 265px;
        left: 156px;
        &.active {
          top: 258px;
          left: 146px;
        }
        @media only screen and (max-width: $win-screen-md - 1){
          top: 272px;
          left: 186px;
          &.active {
            top: 268px;
            left: 179px;
          }
        }
      }


    }
    &--position-5 {
      top: 168px;
      left: 317px;
      &.active {
        top: 152px;
        left: 315px;
      }
      @media only screen and (max-width: $win-screen-md - 1){
        top: 140px + 45;
        left: 250px + 62;
        &.active {
          top: 130px + 45;
          left: 250px + 62;
        }
      }

      .lang-en & {
        top: 168px;
        left: 291px;
        &.active {
          top: 152px;
          left: 291px;
        }
        @media only screen and (max-width: $win-screen-md - 1){
          top: 189px;
          left: 295px;
          &.active {
            top: 181px;
            left: 295px;
          }
        }
      }


    }
  }

  &__tip {
    width: 235px;
    // height: 180px;
    background-color: rgba(0,0,0,0.7);
    border: 1px solid #989898;
    position: absolute;
    padding: 13px;
    text-align: left;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    @media only screen and (max-width: $win-screen-md - 1){
      display: none;
    }

    &--show {
      opacity: 1;
    }

    .tip-title {
      color: $color-green;
      font-size: 32px;
      font-weight: 800;
      line-height: 32px;
      margin-bottom: 5px;
    }

    .tip-description {
      color: $color-grey-light;
      font-size: 15px;
      font-weight: 200;
      line-height: 24px;
      &--zh-hant {
        font-size: 14px;
      }
    }

    .tip-line-1 {
      position: absolute;
      left: -65px;
      top: -45px;
    }
    .tip-line-2 {
      position: absolute;
      left: -120px;
      top: -40px;
    }
    .tip-line-3 {
      position: absolute;
      left: 208px;
      top: -47px;
    }
    .tip-line-4 {
      position: absolute;
      left: 214px;
      top: -10px;
    }
    .tip-line-5 {
      position: absolute;
      left: -188px;
      top: -2px;
    }

    &--position-1 {
      width: 260px;
      left: 554px;
      top: 370px;
    }
    &--position-2 {
      width: 235px;
      left: 550px;
      top: 510px;

      .lang-en & {
        width: 265px;
        left: 570px;
        top: 430px;
      }
    }
    &--position-3 {
      width: 210px;
      left: -110px;
      top: 470px;
    }
    &--position-4 {
      width: 214px;
      left: -160px;
      top: 330px;

      .lang-en & {
        width: 265px;
        .tip-description{
          font-size: $font-s-13;
        }
      }

    }
    &--position-5 {
      width: 184px;
      left: 590px;
      top: 120px;
    }

  }

  // Mobile
  &__mobile {
    width: 100%;
    display: none;
    font-weight: 400;
    line-height: 30px;
    margin-top: -30px;

    @media only screen and (max-width: $win-screen-md - 1){
      display: block;
    }

    @media only screen and (max-width: 400px - 1){
      margin-top: -80px;
    }
  }

  &__mobile-tip {
    position: absolute;
    width: 100%;
    text-align: center;

    .tip-1, .tip-2, .tip-3, .tip-4, .tip-5 {
      max-width: 450px;
      margin: auto;
      padding: 0 20px;
      opacity: 0;
      transition: opacity 0.3s;
      line-height: 24px;
    }
    &--show {
      opacity: 1 !important;
    }
  }


  &__dots-container {
    width: 100%;
    text-align: center;
    padding-top: 80px;

    .lang-en & {
      padding-top: 140px;
    }
  }

  &__dots {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #616161;
    display: inline-block;
    margin: 0 2px;

    &--active {
      background-color: $color-main;
    }
  }


}
