@import "coreVariables";

.axis {

  & > path{
    stroke: $color-mild;
  }

  & > g > line {
    stroke: $color-mild;
  }

  & > g > text {
    fill: $color-midnight;
  }
}

.chartPath {
  stroke: $color-river;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1;
}

.goal {
  stroke: $color-rouge;
}

.dot {
  fill: $color-river;
  r: .5;
  stroke: transparent;
  stroke-width: 10px;
  &:hover {
    r: 7; 
  }
}

.tooltip {
  color: inherit;
}

.tooltip__rect {
  stroke: $color-mild;
  stroke-width: 1px;
}

.tooltip__text {
  color: inherit;
  font-size: 15px;
  font-weight: lighter;
}
