@import 'coreVariables';

.row-item {
  width : 100%;
  height : 60px;
  color : $color-boulder;
  display : flex ;
  align-items: center;
  padding : 0 24px 0 24px;
  margin-bottom: 0;
  > [type='checkbox'] {
    margin-right: $padding-small;
  }
}

.row-select {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 12px 24px;

  > * {
    flex: 1;
  }
}

.row-header {
  height : 82px;
  width : 100%;
  display : flex ;
  align-items: center;
  padding : 0 24px 0 24px;
}

.caption {
  width : 50%;
  color : $color-blackhole;
}


.button-group {
  display : flex ;
  justify-content: flex-end;
  width : 50%;
  > button:nth-child(1) {
    margin-right : $padding-tiny;
    margin-left : $padding-tiny;
  }
}

.panel-visible{
  position : fixed ;
  max-width : 450px ;
  min-width : 450px;
  top: 0;
  right : 0 ;
  height : 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
  transition: max-width 0.6s ease-in;
  z-index : 1000;
  background : white;
}

.panel-invisible {
  overflow: hidden;
  position : fixed ;
  max-width : 0;
  height : 100%;
  top: 0;
  right: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
  transition: max-width 0.3s ease-in;
  z-index : 1000;
  background : white;
}

