<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>PinStream</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react-dom.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js" type="text/javascript"></script>
<script src="/static/utilities.js" type="text/javascript"></script>

<script type="text/babel">
    class VideosComponent extends React.Component {
	constructor(props) {
		super(props);
		this.state = {
            data:[]
		};
	}

    ongetvideos(){
        var info = PinstreamUtilitiesWeb.getTokenInfofromlocalStorage();
        fetch(`/api/v1/video/${info[PinstreamUtilitiesWeb.keys[0]]}`, {
            method: 'GET',
            headers: {
                'Authorization': 'Token ' + info[PinstreamUtilitiesWeb.keys[1]]
            }
        }).then((response) =>{
            if(response.status == 200){
                return response.json();
            }else if(response.status == 400){
                return 400;
            }
            return null;
        }.bind(this)).then(function (json) {
            if(json && json.videos){
               this.setState({data: json.videos});
            }else if(json==400||json && !json.isSuccess){
                PinstreamUtilitiesWeb.removeTokenInfoTolocalStorage()
                window.location.href='/';
                console.info('no data')
            }
        }.bind(this)).catch(function(ex) {
            console.log('parsing failed', ex)
        });
    }

	getvideos(){
	    if(PinstreamUtilitiesWeb.isExpires()){
	        var info = PinstreamUtilitiesWeb.getTokenInfofromlocalStorage();
            var form = new FormData()
            form.append(PinstreamUtilitiesWeb.keys[0],info[PinstreamUtilitiesWeb.keys[0]])
            form.append(PinstreamUtilitiesWeb.keys[2],info[PinstreamUtilitiesWeb.keys[2]])
            form.append(PinstreamUtilitiesWeb.keys[3],info[PinstreamUtilitiesWeb.keys[3]])
            form.append(PinstreamUtilitiesWeb.keys[4],PinstreamUtilitiesWeb.clientId)

	        fetch(`/api/v1/token`, {
                method: 'POST',
                headers: {
                    'Authorization': 'Token ' + info[PinstreamUtilitiesWeb.keys[1]]
                },
                body : form
            }).then((response) =>{
                if(response.status == 200){
                    return response.json();
                }else if(response.status == 400){
                    return 400;
                }
                return null;
            }.bind(this)).then(function (json) {
                if(json && json.isSuccess){
                    PinstreamUtilitiesWeb.setTokenInfoTolocalStorage(json)
                    this.ongetvideos()
                }else if(json==400||json && !json.isSuccess){
                    PinstreamUtilitiesWeb.removeTokenInfoTolocalStorage()
                    window.location.href='/';
                    console.info(json)
                }
            }.bind(this)).catch(function(ex) {
                console.log('parsing failed', ex)
            });
	        return
	    }
	    this.ongetvideos()
	}

	componentDidMount() {
	    //todo error
	   this.getvideos(1)
	}

    componentWillReceiveProps(nextProps) {
        if(nextProps.rvid&&this.state.data&&this.state.data.length>0){
            var data = this.state.data.filter(function(i){ return i.id!=nextProps.rvid})
            //todo load server data?
            this.setState({data:data});
        }
    }

    websitename(type){
        var websiteName='';
        switch (type){
            case '0':
                websiteName='Facebook';
                break;
            case '1':
                websiteName='Youtube';
                break;
            case '2':
                websiteName='Dailymotion';
                break;
            case '3':
                websiteName='Vimeo';
                break;
        }
        return websiteName;
    }

	render() {
	    if(!(this.state.data&&this.state.data.length)){
	        return <div></div>
	    }
	    var imgstyle={
	        width:'227px',
	        height:'128px'
	    };
		return (
			<div className="row">{
                    this.state.data.map(function(videoinfo,index){
                        var title=videoinfo.title.substring(0,20)
                        title+= videoinfo.title.length>20?" ......":""
                      return <div className="col-sm-6 col-md-4" data-id={videoinfo.id} key={index}>
                        <div className="thumbnail">
                          <img src={videoinfo.imgurl} style={imgstyle}/>
                          <div className="caption">
                            <h3>{this.websitename(videoinfo.website)}</h3>
                            <p title={videoinfo.title} >{title}</p>
                            <p>
                                <button onClick={this.props.openmodal.bind(this,videoinfo.url,videoinfo.website,videoinfo.id)} className="btn btn-primary" >View</button>
                            </p>
                          </div>
                        </div>
                      </div>
                }.bind(this))
              }
            </div>
		);
	}
}

class AccountState extends React.Component{
    constructor(props) {
		super(props);
		this.state = {
            statetext:'Log in'
        };
	}

    componentDidMount(){
        if(PinstreamUtilitiesWeb.uid()){
            this.setState({statetext:'Log out'})
        }
    }

    changeAccountState(){
        if(this.state.statetext=='Log out'){
            PinstreamUtilitiesWeb.removeTokenInfoTolocalStorage()
        }
        window.location.href='/?out=1';
    }

    render(){
        return (<div><a href="#" onClick={this.changeAccountState.bind(this)} class="navbar-link">{this.state.statetext}</a></div>)
    }
}

ReactDOM.render(<AccountState/>,document.getElementById('account-state'));

class VideoModalComponent extends React.Component{
    constructor(props) {
		super(props);
	}

    onremovevideo(){
        var info = PinstreamUtilitiesWeb.getTokenInfofromlocalStorage();
        if(!info){
            return;
        }
        const formData = new FormData();
        formData.append(PinstreamUtilitiesWeb.keys[0], info[PinstreamUtilitiesWeb.keys[0]]);
        formData.append('vid', this.props.vid);

        fetch(`/api/v1/video`, {
            method: 'delete',
            headers: {'Authorization': 'Token ' + info[PinstreamUtilitiesWeb.keys[1]]},
            body : formData
        }).then((response) =>{
            if(response.status == 200){
                return response.json();
            }else if(response.status == 400){
                PinstreamUtilitiesWeb.removeTokenInfoTolocalStorage()
                window.location.href='/'
            }
            return null;
        }.bind(this)).then(function (json) {
            // window.location.reload()
            console.info(json)
            console.info('Success!')
            this.props.closemodal(this.props.vid)
        }.bind(this)).catch(function(ex) {
            console.log('parsing failed', ex)
        });
    }

    removeVideo(){
	    if(!confirm('你確定要取消收藏嗎？')){
	        return
	    }

            if(PinstreamUtilitiesWeb.isExpires()){
                if(PinstreamUtilitiesWeb.isExpires()){
        	        var info = PinstreamUtilitiesWeb.getTokenInfofromlocalStorage();
                    var form = new FormData()
                    form.append(PinstreamUtilitiesWeb.keys[0],info[PinstreamUtilitiesWeb.keys[0]])
                    form.append(PinstreamUtilitiesWeb.keys[2],info[PinstreamUtilitiesWeb.keys[2]])
                    form.append(PinstreamUtilitiesWeb.keys[3],info[PinstreamUtilitiesWeb.keys[3]])
                    form.append(PinstreamUtilitiesWeb.keys[4],PinstreamUtilitiesWeb.clientId)

        	        fetch(`/api/v1/token`, {
                        method: 'POST',
                        headers: {
                            'Authorization': 'Token ' + info[PinstreamUtilitiesWeb.keys[1]]
                        },
                        body : form
                    }).then((response) =>{
                        if(response.status == 200){
                            return response.json();
                        }else if(response.status == 400){
                            return 400;
                        }
                        return null;
                    }.bind(this)).then(function (json) {
                        if(json && json.isSuccess){
                            PinstreamUtilitiesWeb.setTokenInfoTolocalStorage(json)
                            this.onremovevideo()
                        }else if(json==400||json && !json.isSuccess){
                            PinstreamUtilitiesWeb.removeTokenInfoTolocalStorage()
                            window.location.href='/';
                            console.info(json)
                        }
                    }.bind(this)).catch(function(ex) {
                        console.log('parsing failed', ex)
                    });
        	        return
        	    }
	        }
        this.onremovevideo()
    }

    render(){
        var element=''
        if(this.props.vsrc){
            if(this.props.website==0){
                element= <div><div className="fb-video" data-href={this.props.vsrc} data-width="800" data-show-text="false"></div></div>
                setTimeout(function(){ FB.XFBML.parse(); }, 500);
            }else{
                element=<div className="embed-responsive embed-responsive-4by3 embed-responsive-model"><iframe id="modal-iframe" className="embed-responsive-item" src={this.props.vsrc} width="480" height="280" frameborder="0" allowFullScreen></iframe></div>
            }
        }
        return (<div>
                    <div id="myModal" className="my-modal">
                      <span className="modal-close cursor" onClick={this.props.closemodal.bind(this)}>&times;</span>
                      <div className="my-modal-content">
                        {element}
                        <div className="my-modal-toolbar">
                            <div className="col-sm-11">
                                <img src="/static/saved_64.png" alt="remove" className="pull-right img-rounded" onClick={this.removeVideo.bind(this)}/>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>)
    }
}

class AppComponent extends React.Component{
    constructor(props) {
		super(props);
		this.state = {
            vid:'',
            vsrc:'',
            rvid:'',
            website:''
		};
	}

    closeModal(vid) {
        document.querySelector('body').className=''
        this.setState({vsrc:'',vid:'',rvid:vid});
        document.getElementById('myModal').style.display = "none";
    }

    openModal(url,website,id) {
        this.setState({vsrc:url,vid:id,website:website});
        document.querySelector('body').className='noscroll';
        document.getElementById('myModal').style.display = "block";
    }

    handleReload(){
        this.setState({isreload:false});
    }

	handleModalInfo(data){
	    this.setState({vid:data.vid,vsrc:data.vsrc});
	}

	render() {
	    return (<div>
	        <VideosComponent openmodal={this.openModal.bind(this)} modalinfo={this.handleModalInfo.bind(this)} rvid={this.state.rvid} ></VideosComponent>
	        <VideoModalComponent closemodal={this.closeModal.bind(this)} vid={this.state.vid} vsrc={this.state.vsrc} website={this.state.website} ></VideoModalComponent>
	    </div>)
	}

}

ReactDOM.render(<AppComponent/>,document.getElementById('videos'));
</script>
<!--<script type="text/jsx" src="/static/management.jsx"></script>-->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/static/base.css" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
                <p class="navbar-text navbar-right" id="account-state"></p>
            </div>
        </div>
    </nav>

    <h1>Your Saved</h1>
    <!--videos start-->
    <div class="container" id="videos"></div>
    <!--videos end-->

    <!--modal start-->
    <div id="root-modal"></div>
    <!--modal end-->

    <div id="errors"></div>



    <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Your embedded video player code-->
</body>

</html>