// font color
.color-white{
  color: $color-white;
}
.color-white-90a{
  color: $color-white-90a;
}
.color-white-80a{
  color: $color-white-80a;
}
.color-white-60a{
  color: $color-white-60a;
}
.color-white-40a{
  color: $color-white-40a;
}
.color-white-20a{
  color: $color-white-20a;
}

.color-dark{
  color: $color-dark;
}
.color-dark-80a{
  color: $color-dark-80a;
}
.color-dark-60a{
  color: $color-dark-60a;
}
.color-dark-40a{
  color: $color-dark-40a;
}
.color-dark-20a{
  color: $color-dark-20a;
}
.color-dark-10a{
  color: $color-dark-10a;
}
.color-dark-5a{
  color: $color-dark-5a;
}

.color-grey{
  color: $color-grey;
}
.color-grey-light{
  color: $color-grey-light;
}
.color-grey-dark{
  color: $color-grey-dark;
}

.color-main{
  color: $color-main;
}
.color-main-light{
  color: $color-main-light;
}
.color-main-red{
  color: $color-main-red;
}

.color-green{
  color: $color-green;
}


//backgorund color
.bg-color-white{
  background-color: $color-white;
}
.bg-color-white-90a{
  background-color: $color-white-90a;
}
.bg-color-white-80a{
  background-color: $color-white-80a;
}
.bg-color-white-60a{
  background-color: $color-white-60a;
}
.bg-color-white-40a{
  background-color: $color-white-40a;
}
.bg-color-white-20a{
  background-color: $color-white-20a;
}

.bg-color-dark{
  background-color: $color-dark;
}
.bg-color-dark-80a{
  background-color: $color-dark-80a;
}
.bg-color-dark-60a{
  background-color: $color-dark-60a;
}
.bg-color-dark-40a{
  background-color: $color-dark-40a;
}
.bg-color-dark-20a{
  background-color: $color-dark-20a;
}
.bg-color-dark-10a{
  background-color: $color-dark-10a;
}
.bg-color-dark-5a{
  background-color: $color-dark-5a;
}

.bg-color-grey{
  background-color: $color-grey;
}
.bg-color-grey-light{
  background-color: $color-grey-light;
}
.bg-color-grey-dark{
  background-color: $color-grey-dark;
}

.bg-color-main{
  background-color: $color-main;
}
.bg-color-main-light{
  background-color: $color-main-light;
}
.bg-color-main-red{
  background-color: $color-main-red;
}

.bg-color-green{
  background-color: $color-green;
}
