@import 'coreVariables';

$img-width : 128px;
$img-height : 72px;

.ad-btn {
  font-size:12px;
  padding: 0 8px;
  background: #FFFFFF;
  opacity: 1.00;
  border: 1px solid rgba(26, 10, 10, 0.2);
  box-sizing: border-box;
  border-radius: 50px;
  margin : $padding-small 0;
  width : auto;
  max-width: $img-width;
  cursor : pointer;
  display:inline-flex;
  align-items: center;
  &:focus{
    outline:none;
  }
}

$text-width : $img-width - 11px;
.ad-btn div {
  display : inline-block;
  max-width : $text-width;
  overflow : hidden;
  text-overflow : ellipsis;;
  white-space: nowrap;
}

.ad-btn i {
  margin-left : 2px;
}
.btn-white {
  composes: ad-btn;
}

.btn-blue {
  composes : ad-btn;
  color: $color-ivory;
  background: $color-river;
}

.ad-block {
  width: $img-width;
  margin-left : $padding-small;
}
.overlay {
  background: rgba(26, 10, 10, 0.5);
  opacity: 1.00;
  border-radius: 2px;
  width : $img-width;
  height : $img-height;
  position : absolute;
  z-index : 5;
}

.overlay-show {
  composes: overlay;
  visibility: visible;
}

.overlay-hidden {
  composes: overlay;
  visibility: hidden;
}

.thumbnail {
  position: absolute;
  width: $img-width;
  height: $img-height;
  z-index : 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.selected {
  border : 5px solid $color-river;
}
.checkbox-container {
  position: absolute;
  left : 6px;
  top : 6px;
  z-index : 10;
}

.overlap-container {
  position: relative;
  width: $img-width;
  height: $img-height;
}

.time{
  font-size : 10px;
  position : absolute;
  background: $color-blackhole;
  color : $color-ivory;
  z-index : 3;
  bottom:0;
  left:0;
  padding: 0 $padding-tiny;
  cursor : default;
}

.checked-icon {
  position : absolute;
  width : 20px;
  height : 20px;
  top : 0;
  left : 0;
  z-index : 7;
  background : $color-river;
  color : white;
}

.fake-checkbox {
  position: absolute;
  left : 6px;
  top : 6px;
  z-index : 10;
  width : 1.5em;
  height: 1.5em;
  background: white;
  border : none;
  &:hover {
    border: 1px solid $color-river;
  }
}

.button-holder {
  margin-bottom:$padding-small;
}
