$color-brand: #E24522;
$color-rouge: #EB5757;
$color-wasabi: #A5DC67;
$color-river: #17ABFF;
$color-ivory: #E5E5E5;

$color-blackhole: rgb(26, 10, 10);
$color-midnight: rgba(26, 10, 10, 0.9);
$color-chocolate: rgba(26, 10, 10, 0.8);
$color-boulder: rgba(26, 10, 10, 0.5);
$color-mild: rgba(26, 10, 10, 0.2);
$color-sand: rgba(26, 10, 10, 0.1);
$color-fog: #F6F6F6;
