.container {
  display: inline-flex;
  align-items: center;
}

.button {
  padding : 9px 15px;
  background : #FFFFFF;
  border: 2px solid #1A0A0A;
  font-size: 18px;
  line-height: 100%;
  color: #1A0A0A;
  margin : 0 8px;
  cursor : pointer;
}

.disabled {
  border: 2px solid rgba(26, 10, 10, 0.2);
  color : rgba(26, 10, 10, 0.2);
  cursor : not-allowed;
}