@import 'coreVariables';

.item {
  height: 36px;
  padding: 8px;
  border-bottom: 1px solid $color-mild;
  font-size: 14px;
  cursor: pointer;
}

.item:after {
  float: right;
  font-family: FontAwesome;
  color: $color-boulder;
  content: '\f107';
}

.expanded-item {
  @extend .item;
}

.expanded-item:after {
  @extend .item:after;
  content: '\f106';
}

.items {
  padding: 8px;
  border-bottom: 1px solid $color-mild;

  > * {
    margin-bottom: 8px;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
