
.base {
  position: fixed;
  left: 1%;
  bottom: 8%;
}

.uploaderBox {
  composes: base;
  width: 17%;
  min-width: 270px;
}

.uploaderExpand {
  composes: base;
  top: 65%;
  width: 20%;
  min-width: 310px;
  height: 30%;
}
