.VideoList{
  height: 100%;
  width: 100%;
  .wrapper{
    height: 100%;
    width: 100%;
  }
  .header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    background: #fff;
    z-index: 100;
  }
  .userAvatar{
    display: inline-block;
    height: 60px;
    margin-right: 10px;
    padding-top: 10px;
    .userIcon{
      float: left;
      img.polygon{
        float: left;
        padding-top: 0px;
        display: inline-block;
        margin-right: 10px;
        width: 40px;
        height: 45px;
        clip-path: polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%);
      }
    }
    .userDes{
      float: left;
      display: inline-block;
      line-height: 16px;
      color: #333;
      a{
        font-size: 12px;
        color: #4A90E2 !important;
        text-decoration: underline;
      }
    }
  }
  .VideoListContent{
    padding: 70px 15px 15px 15px;
    height: auto;
    width: 100%;
    min-height: 500px;
  }
  .row  {
    margin: 0 !important;
  }
  .footer{
    text-align: right;
    color: #4A90E2;
    height: 100px;
    padding: 20px 15px;
    border-top: 1px solid #ccc;
    background: #eee;
  }
  .VideoItem{
    position: relative;
    padding: 5px !important;
    margin: 5px 0;

    a,a:hover{
      text-decoration: none;
    }
  }
  .VideoItemInner{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex:1;
    height: 290px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    transform: translate(0,0);
    transition: box-shadow .3s ease, transform .3s ease;
    animation: fadein .3s;
    &:hover{
      box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.30);
      transform: translate(0, -4px);
    }
    .videoImgWrapper{
      display: flex;
      flex: 1 60%;
      justify-content:center;
      align-items: center;
      overflow: hidden;
      background: #000;
      .videoImg{
        width: 100%;
      }
    }
    .videoInfoWrapper{
      display: flex;
      flex: 1 40%;
      background: #fff;
      flex-direction: column;
      .title{
        display: flex;
        overflow: hidden;
        align-items:stretch;
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 5px 10px;
        h2{
          margin: 0;
          padding: 0;
          overflow: hidden;
          text-overflow : ellipsis;
          white-space : nowrap;
          font-size: 16px;
          line-height: 30px;
        }
      }
      .description{
        display: flex;
        width: 100%;
        height: 50px;
        padding: 0 10px;
        flex:1;
        color: #666;
        p{
          font-size: 13px;
          margin: 0 0 10px 0;
          overflow : hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;;
        }
      }
      .subDescription{
        display: flex;
        padding: 0 10px;
        align-items:stretch;
        width: 100%;
        height: 32px;
        line-height: 32px;
        flex-direction:row;
        justify-content: space-between;
        border-top: 1px solid #E3E3E3;
        color: #999;
        .channelIcon{
          float: right;
          text-align: right;
        }
      }
    }
  }
  a{
    color: #333 !important;
    text-decoration: none;
  }
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
