<!-- Footer -->
<footer class="visc-footer">
  <div class="container-med">

    <!-- LOGO -->
    <h1 class="visc-footer__logo">Viscovery</h1>

    <!-- Right Block -->
    <section class="visc-footer__right-bock">

        <ul class="visc-footer__locations">
          <li class="visc-footer__locations__list font-p-lg color-white-40a">
            <span class="local-title">Tpe</span>
            <p class="local-text">105 台北市松山區復興北路143號7F</p>
          </li>
          <li class="visc-footer__locations__list font-p-lg color-white-40a">
            <span class="local-title">Sha</span>
            <p class="local-text">上海市徐匯區虹橋路333號慧谷科技中心612室</p>
          </li>
          <li class="visc-footer__locations__list font-p-lg color-white-40a">
            <span class="local-title">Bj</span>
            <p class="local-text">北京市海澱區鼎好電子大廈A座三層太庫辦公區</p>
          </li>
          <li class="visc-footer__locations__list font-p-lg color-white-40a">
            <span class="local-title">Sg</span>
            <p class="local-text">32 Nallur Road Singapore 456654</p>
          </li>
        </ul>

    </section>

    <!-- Bottom Block -->
    <div class="visc-footer__bottom-block">
      <nav class="social-block">
        <a href="https://zh-tw.facebook.com/viscovery.co/" target="_blank" class="social-block__nav social-block__nav__fb"></a>
        <a href="http://tw.weibo.com/viscovery" target="_blank" class="social-block__nav social-block__nav__wb"></a>
        <a href="https://www.linkedin.com/company-beta/3637491/?pathWildcard=3637491" target="_blank" class="social-block__nav social-block__nav__linkedin"></a>
        <a href="https://twitter.com/viscovery" target="_blank" class="social-block__nav social-block__nav__tt"></a>
      </nav>
      <p class="visc-footer__bottom-block__copy font-p color-white-40a">2017 © Viscovery All rights reserved</p>
    </div>

  </div>
</footer>
