<div class="solution-main__mobile-menu visible-xs">
  <span class="solution-main__mobile-menu__txt"></span>
</div>
<nav class="solution-main__menu solution-main__menu--hide">
  <a href="/zh-tw/solution/1" target="_self" class="solution-main__menu__nav"><span class="text-block">情境式廣告</span></a>
  <a href="/zh-tw/solution/2" target="_self" class="solution-main__menu__nav"><span class="text-block">影音內容互動</span></a>
  <a href="/zh-tw/solution/3" target="_self" class="solution-main__menu__nav"><span class="text-block">影音大數據搜索</span></a>
  <a href="/zh-tw/solution/4" target="_self" class="solution-main__menu__nav"><span class="text-block">IoT解決方案</span></a>
  <a href="/zh-tw/solution/5" target="_self" class="solution-main__menu__nav"><span class="text-block">客製化服務</span></a>
</nav>
