/* core main [start] */
.core-main{
  // background-color: $color-grey-light;

  .hero-block{
    background-color: $color-green;

    @media only screen and (max-width: $win-screen-md - 1){
      min-height: 240px;
      max-height: 800px;
      height: auto;
      padding: 40px 0px;
    }

    @media only screen and (max-width: $win-screen-sm - 1){
      min-height: inherit !important;
      max-height: inherit !important;
      height: inherit !important;
      // padding: 40px 0px;
    }

  }

  &__intro-ills {
    pointer-events: none;
    width: calc(100% - 5px);
    max-width: 550px;
    vertical-align: middle;
    display: inline-block;
    @media only screen and (max-width: $win-screen-md - 1){
      padding-top: 50px;
    }
  }

  &__canvas {
    width: 100%;
    opacity: 0;
    transition: opacity 1s;
  }

  &__container{
    position: relative;
    overflow: hidden;

    &__fitamos-block{
      padding: 70px 0px;
    }

    &__adv-block{
      padding: 70px 0px 60px 0px;
      background-color: $color-grey-light;

      @media only screen and (max-width: $win-screen-sm - 1){
        padding: 60px 0px 60px 0px;
      }

    }

  }

  /* Intro [start] */
  &__intro{
    width: calc(100% - 5px);
    display: inline-block;
    vertical-align: middle;

    &__vds-logo{
      width: 155px;
      height: 67px;
      margin-bottom: 20px;
      background-image: url('../imgs/icons/icon-vds-white.svg');
      @extend .bg-contain;

      @media only screen and (max-width: $win-screen-sm - 1){
        width: 182px;
        height: 36px;
        margin-bottom: 15px;
        background-position: left center;
      }

    }

    &__vds-title{
      font-weight: 300;
      line-height: $font-s-46;
      margin-bottom: 20px;
      padding-top: 5px;

      @media only screen and (max-width: $win-screen-sm - 1){
        font-size: $font-s-24;
        line-height: $font-s-30;
        margin-bottom: 15px;
      }

    }

    &__vds-text{
      line-height: $font-s-32;
      margin-bottom: 20px;
      font-weight: 300;
      text-align: justify;
      text-justify:inter-ideograph;

      @media only screen and (max-width: $win-screen-sm - 1){
        font-size: $font-s-16;
        line-height: $font-s-28;
        margin-bottom: 15px;
      }

    }

    &__svg {
      width: 100%;
      text-align: center;
      padding-top: 30px;
    }

  }  /* Intro [end] */


  /* FITAMOS Block [start] */
  .FITAMOS-block{
    text-align: center;
    // margin-bottom: 60px;

    &__title{
      font-weight: 300;
      margin-bottom: 40px;

      @media only screen and (max-width: $win-screen-sm - 1){
        margin-bottom: 20px;

        .txt-block{
          display: block;
        }

      }

    }

    &__sub-title{
      font-weight: 300;
      line-height: $font-s-24;

      @media only screen and (max-width: $win-screen-sm - 1){
        font-size: $font-s-14;
      }

    }

    /* FITAMOS Intro Block [start] */
    &__intro-block{
      position: relative;
      display: block;
      margin-top: 60px;

      @media only screen and (max-width: $win-screen-sm - 1){
        margin-top: 30px;
      }

      &__circle-photo{
        display: block;
        position: relative;
        width: 600px;
        height: auto;
        margin: 0 auto;
        padding-bottom: 40px;

        @media only screen and (max-width: $win-screen-md - 1){
          width: 80%;
          padding-bottom: 20px;
        }

        @media only screen and (max-width: $win-screen-sm - 1){
          width: 110%;
          left: -5%;
          padding-bottom: 20px;
        }

      }

      .FITAMOS-list{
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;

        @media only screen and (max-width: $win-screen-md - 1){
          position: relative;
        }

        .right-txt{
          text-align: right;
        }

        &__list{
          display: inline-block;
          width: 260px;
          position: absolute;
          text-align: left;

          @media only screen and (max-width: 1159px){
            width: 200px;
          }

          @media only screen and (max-width: $win-screen-md - 1){
            position: relative;
            margin-bottom: 20px;
            width: 100%;
            left: 0 !important;
            top: 0 !important;
            text-align: left !important;
          }

          &__title{
            font-family: 'GothamBold', PingFangTC,PingFangSC,Microsoft JhengHei,'微軟正黑體',Arial,sans-serif;
            font-weight: 400;
            margin-bottom: 8px;

            @media only screen and (max-width: $win-screen-md - 1){
              display: inline-block;
              vertical-align: text-top;
              width: 70px;
              margin-bottom: 0px;
            }

          }

          &__txt{
            line-height: $font-s-22;

            @media only screen and (max-width: $win-screen-md - 1){
              display: inline-block;
              vertical-align: text-top;
              width: calc(100% - 80px);
              margin-bottom: 0px;
            }

          }

          &__01{
            right: calc( 50% + 240px );
            top: 150px;
          }

          &__02{
            right: calc( 50% + 270px );
            top: 300px;
            @media only screen and (max-width: 1099px){
              width: 220px;
            }
            @media only screen and (max-width: $win-screen-md - 1){
              width: 100%;
            }
          }

          &__03{
            right: calc( 50% + 230px );
            top: 440px;
          }

          &__04{
            right: calc( 50% + 100px );
            top: 540px;
            @media only screen and (min-width: $win-screen-md){
              width: 220px;
            }
          }

          &__05{
            left: calc( 50% + 150px );
            top: 510px;
          }

          &__06{
            left: calc( 50% + 300px );
            top: 340px;
            @media only screen and (max-width: 1099px){
              width: 180px;
            }
            @media only screen and (max-width: $win-screen-md - 1){
              width: 100%;
            }
          }

          &__07{
            left: calc( 50% + 210px );
            top: 140px;
          }

        }

      }

    }  /* FITAMOS Intro Block [end] */

  }  /* FITAMOS Block [end] */


  /* Advantage Block [start] */
  .adv-block{

    @media only screen and (max-width: $win-screen-sm - 1){

      .container-sm{
        width: 100%;
        padding: 0;
      }

    }

    &__intro{
      font-weight: 400;
      margin-bottom: 40px;
      line-height: $font-s-32;
      text-align: center;

      @media only screen and (max-width: $win-screen-sm - 1){
        font-size: $font-s-16;
        line-height: $font-s-24;
      }

    }

  }  /* Advantage Block [end] */


}  /* core main [end] */


/* Language English Fix [start] */
.lang-en{

  .core-main__intro__vds-text{
    font-size: $font-s-16;
    line-height: $font-s-28;
    text-align: left;
    text-justify: none;
  }

  .FITAMOS-list__list__txt{
    font-size: $font-s-14;
    letter-spacing: -0.5px;
    line-height: $font-s-20 !important;
  }

  .adv-block__intro{
    font-size: $font-s-12;
    line-height: $font-s-20;
  }

} /* Language English Fix [end] */
