<!-- Header -->
<header class="visc-header">
  <div class="container-med">

    <!-- LOGO -->
    <h1 class="visc-header__logo"><a href="/zh-cn" target="_self" class="nav-block"></a>Viscovery</h1>

    <!-- Menu Block -->
    <div class="visc-header__menu-block visc-header__menu-block--hide" id="menu-block">

      <!-- Language Menu -->
      <div class="lan-select visible-xs" id="dropdown-btn">
        <p class="lan-select__selected-title" id="select-lang"></p>
        <img class="lan-select__arrow" src="imgs/icons/icon-dropdown-arrow.svg" />
      </div>

      <!-- language -->
      <nav class="lang-menu lang-menu--hide" id="dropdown-box">
        <a href="/" target="_self" class="lang-menu__nav color-dark-60a font-p-sm">EN</a>
        <a href="/zh-tw" target="_self" class="lang-menu__nav color-dark-60a font-p-sm">繁體中文</a>
        <a href="/zh-cn" target="_self" class="lang-menu__nav color-dark-60a font-p-sm lang-menu__nav--on">简体中文</a>
      </nav>

      <!-- Main Menu -->
      <nav class="main-menu main-menu--hide" id="main-menu">
        <a href="/zh-cn/core" target="_self" class="main-menu__nav color-dark font-p-lg">核心技术</a>
        <a href="/zh-cn/solution/1" target="_self" class="main-menu__nav color-dark font-p-lg">解决方案</a>
        <a href="/zh-cn/news" target="_self" class="main-menu__nav color-dark font-p-lg">最新动态</a>
        <a href="/zh-cn/about" target="_self" class="main-menu__nav color-dark font-p-lg">关于我们</a>
      </nav>

    </div>

    <!-- Mobile Menu -->
    <a id="mobile-menu-close" class="mobile-btn-close visible-xs mobile-btn-close--hide"></a>
    <a id="mobile-menu-open" class="mobile-menu visible-xs"></a>

  </div>
</header>
