<!-- Partner Block -->
<div class="partner-block">
  <div ref="touchArea" id="partnerArea" class="container-med">
    <h3 class="partner-block__title font-h1 color-dark">策略联盟伙伴</h3>
    <!-- Partner Logos -->
    <div id="partners">

    </div>
  </div>
</div>
