.modalBox {
  margin: 10px 45px 5px 45px;
}

.modalText {
  margin: 12px;
  font-size: 12pt;
  text-align: center;
}

.modalBtnGroup {
  text-align: center;
  margin-top: 40px;
}

.modalBtn {
  display: inline-block;
  padding: 0 4px 0 4px;
}
