<!-- Intro List -->
<div class="container-med">
  <div class="intro-list">
    <div class="col-xs-12 col-sm-4">
      <section class="intro-list__block">
        <img class="intro-list__block__ills" src="./imgs/ills/intro-list-ills-01.svg" />
        <h3 class="intro-list__block__title font-h3 color-dark">Meta-Scale Image Database</h3>
        <p class="intro-list__block__text font-p-md color-dark-60a">Capable of storing millions of images, we now have 12 million product images ready for use.</p>
      </section>
    </div>
    <div class="col-xs-12 col-sm-4">
      <section class="intro-list__block">
        <img class="intro-list__block__ills" src="./imgs/ills/intro-list-ills-02.svg" />
        <h3 class="intro-list__block__title font-h3 color-dark">Patented Algorithm</h3>
        <p class="intro-list__block__text font-p-md color-dark-60a">10+ patented algorithms, increasing the recognition accuracy to 98%.</p>
      </section>
    </div>
    <div class="col-xs-12 col-sm-4">
      <section class="intro-list__block">
        <img class="intro-list__block__ills" src="./imgs/ills/intro-list-ills-03.svg" />
        <h3 class="intro-list__block__title font-h3 color-dark">Blazing Fast Recognition Speed</h3>
        <p class="intro-list__block__text font-p-md color-dark-60a">Real-time recognition in just milliseconds (0.006 sec), saving 90% of manual work, accelerating the speed of video recognition.</p>
      </section>
    </div>
  </div>
</div>
