<!-- Intro List -->
<div class="container-med">
  <div class="intro-list">
    <div class="col-xs-12 col-sm-4">
      <section class="intro-list__block">
        <img class="intro-list__block__ills" src="./imgs/ills/intro-list-ills-01.svg" />
        <h3 class="intro-list__block__title font-h3 color-dark">亿级品牌商品资料库</h3>
        <p class="intro-list__block__text font-p-md color-dark-60a">拥有亿级图像存储能力，及1200万件商品完整信息资料库，减轻客户资料处理作业 </p>
      </section>
    </div>
    <div class="col-xs-12 col-sm-4">
      <section class="intro-list__block">
        <img class="intro-list__block__ills" src="./imgs/ills/intro-list-ills-02.svg" />
        <h3 class="intro-list__block__title font-h3 color-dark">专利智能算法</h3>
        <p class="intro-list__block__text font-p-md color-dark-60a">拥有10多项专利智能算法，将深度学习(Deep Learning)和计算机视觉(Computer Vision) 等识别技术提高精确率至98% </p>
      </section>
    </div>
    <div class="col-xs-12 col-sm-4">
      <section class="intro-list__block">
        <img class="intro-list__block__ills" src="./imgs/ills/intro-list-ills-03.svg" />
        <h3 class="intro-list__block__title font-h3 color-dark">高效分析速度</h3>
        <p class="intro-list__block__text font-p-md color-dark-60a">实时及毫秒级别的识别速度(0.006秒），节省90%以上的人工处理时间，提升视频识别速度</p>
      </section>
    </div>
  </div>
</div>
