<div class="solution-main__mobile-menu visible-xs">
  <span class="solution-main__mobile-menu__txt"></span>
</div>
<nav class="solution-main__menu solution-main__menu--hide">
  <a href="/zh-cn/solution/1" target="_self" class="solution-main__menu__nav"><span class="text-block">情境式广告</span></a>
  <a href="/zh-cn/solution/2" target="_self" class="solution-main__menu__nav"><span class="text-block">视频内容互动</span></a>
  <a href="/zh-cn/solution/3" target="_self" class="solution-main__menu__nav"><span class="text-block">视频大数据搜索</span></a>
  <a href="/zh-cn/solution/4" target="_self" class="solution-main__menu__nav"><span class="text-block">IoT解决方案</span></a>
  <a href="/zh-cn/solution/5" target="_self" class="solution-main__menu__nav"><span class="text-block">定制化服务</span></a>
</nav>
