@import "coreVariables";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  height: 40px;
}

.top {
  composes: row;
  justify-content: space-between;
  padding: 11px;
  background: rgba(255, 255, 255, 0.80)
}

.bottom {
  composes: row;
  justify-content: space-between;
  padding: 0 0 2px 0;
}

.button {
  font-size: 1.125rem;
    &:active, &:hover {
      color: $color-brand;
    }
}

.bottom-left-button {
  @extend .button;
  position: absolute;
  top: -20px;
  right: 20px;
}

.bottom-right-button {
  @extend .button;
  position: absolute;
  top: 20px;
  left: -20px;
}

%triangle {
  width: 0;
  height: 0;
  position: relative;
}

.left-triangle {
  @extend %triangle;
  border-right: 0 solid transparent;
  border-left: 40px solid white;
  border-bottom: 0 solid transparent;
  border-top: 40px solid transparent;
}

.right-triangle {
  @extend %triangle;
  border-right: 0 solid transparent;
  border-left: 40px solid transparent;
  border-bottom: 40px solid white;
  border-top: 0 solid transparent;
}
