* {
    box-sizing: border-box;
}

html,
body {
    Font-family: "roboto", "ping-fang-tc", "SourceHanSans”,”roboto”,Helvetica,Arial,sans-serif";
    height: 100%;
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.row {
    margin: 0;
}

.row:before,
.row:after {
    content:"";
    display: block !important;
}