.container {
  position: fixed;
  width: calc(100% - 256px);
  background-color: #F6F7F7;
  padding: 8px 0 8px 0;
  font-size: 12pt;
}

.base {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
}

.userId {
  composes: base;
  width: 10%;
}

.account {
  composes: base;
  width: 19%;
}

.username {
  composes: base;
  width: 10%;
}

.company {
  composes: base;
  width: 18%;
}

.tel_number {
  composes: base;
  width: 18%;
}

.creator {
  composes: base;
  width: 18%;
}

.manipulate {
  composes: base;
  width: 7%;
}