@import 'coreVariables';

.folder {
  display : flex;
  position : relative;
  padding : $padding-tiny;
  align-items: center;
  border-bottom : 1px solid rgba(26, 10, 10, 0.2);
}

.label {
  @include single-line-ellipsis;
  color : $color-blackhole;
  flex: 1;
  cursor: default;
}

.icon {
  height: 100%;
  padding-left: 14px;
  color: $color-mild;
}

.folder-icon {
  margin : 0 $padding-tiny;
}

.hide {
  display: none;
}

.item > div, folder {
  border-bottom : 1px solid rgba(26, 10, 10, 0.2);
}