@import "coreVariables";

.container {
  height: 100%;
  position: relative;
  overflow-y: hidden;
}

.batchOpt {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: inherit;
  transition: transform 200ms;
}

.batchOpt__hide {
  composes: batchOpt;
  transform: translateY(100%);
  transition: transform 200ms;
}

.top-area {
  padding: 16px 0 16px 33px;
  position: relative;
  width: 100%;
}

.feedback__success {
  position: absolute;
  background: $color-ivory;
  top: 0;
  left: 0;
  padding: 16px 18px 0 18px;
  width: inherit;
  height: 100%;
  opacity: 1;

  animation-name: bannerAnimation;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  animation-delay: 3s;
}

@keyframes bannerAnimation {
    from {opacity: 1;}
    to {
      opacity: 0;
    }
}

.hide {
  display: none;
}

.buttonGroup {
  width: 220px;
}

.pure-row-area {
  height: calc(100% - 52px);
  overflow-y: scroll;
}

.pure-row-area__short {
  composes: pure-row-area;
  max-height: calc(100% - 52px - 69px);
}
