<!-- Intro List -->
<div class="container-med">
  <div class="intro-list">
    <div class="col-xs-12 col-sm-4">
      <section class="intro-list__block">
        <img class="intro-list__block__ills" src="./imgs/ills/intro-list-ills-01.svg" />
        <h3 class="intro-list__block__title font-h3 color-dark">億級商品資料庫</h3>
        <p class="intro-list__block__text font-p-md color-dark-60a">擁有億級圖像儲存能力，及1200萬件商品完整訊息資料庫，減輕客戶資料處理作業</p>
      </section>
    </div>
    <div class="col-xs-12 col-sm-4">
      <section class="intro-list__block">
        <img class="intro-list__block__ills" src="./imgs/ills/intro-list-ills-02.svg" />
        <h3 class="intro-list__block__title font-h3 color-dark">多項演算法專利</h3>
        <p class="intro-list__block__text font-p-md color-dark-60a">擁有10多項演算法專利，將深度學習(Deep Learning)和電腦視覺(Computer Vision) 等辨識技術提高精確率至98%</p>
      </section>
    </div>
    <div class="col-xs-12 col-sm-4">
      <section class="intro-list__block">
        <img class="intro-list__block__ills" src="./imgs/ills/intro-list-ills-03.svg" />
        <h3 class="intro-list__block__title font-h3 color-dark">高效分析速度</h3>
        <p class="intro-list__block__text font-p-md color-dark-60a">即時毫秒級別的辨識速度(0.006秒），節省90%以上的人工處理時間，提升影音辨識速度</p>
      </section>
    </div>
  </div>
</div>
