{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "chai-friendly"
  ],
  "rules": {
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js", "**/*.dev.js", "**/app/index.js"]}],
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "new-cap": "off",
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off",
    "react/no-unused-prop-types": "off",
    "react/forbid-prop-types": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-use-before-define": "off",
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.dev.js"
      }
    }
  }
}
